<%- include('./partials/head') %>
<body class="bg-secondary">
    <%- include('./partials/header') %>
    <div class="d-flex flex-column align-items-center text-light"><h2>Bienvenido</h2> <a href="/logout"><button class="btn btn-danger">Desloguearse</button></a></div>
    <%- include('./partials/scripts') %>
</body>