<form id="prodForm" style="display: flex; flex-direction: column; margin-inline: 50rem; align-items: center;">
    <label for="name">Nombre</label>
    <input id="name" name="name">
    <label for="price" >Precio</label>
    <input id='price'name="price">
    <label for="url"> Imagen </label>
    <input id='url' name="url"> 
    <button type="submit">Enviar</button>
</form>
<a style="margin-top: 10rem; display: flex; margin-inline: 50rem; justify-content: center;" href="/api/products"> VER LOS PRODUCTOS</a>
<script src="js/newProd.js">
</script>